nav {
  width: 100%;
  height: 38px;
  background-color: #0b98de;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
nav a {
  display: block;
  font-family: sans-serif;
  font-size: 9px;
  color: white;
  background-color: #17b0cf;
  border: 1px solid #000;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

nav a:first-child {
  margin-right: auto;
}

nav a:hover {
  background-color: #eeb0cf;
}

#logo {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px #c4c4c4;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
}